.imago-form-content
  form(name="imagoContact" ng-if="!contact.status" ng-submit="contact.submitForm(imagoContact.$valid)" novalidate)

    .imago-field
      input(
        type="text"
        name="name"
        id="name"
        ng-model="contact.data.name"
        placeholder="Name"
        required
        )
      label(for="name") Name

    .imago-field
      input(
        type="email"
        name="email"
        id="email"
        ng-model="contact.data.email"
        placeholder="Email"
        required
        )
      label(for="email") Email

    .imago-field
      input(
        type="text"
        name="company"
        id="company"
        ng-model="contact.data.company"
        placeholder="Company"
        required
        )
      label(for="company") Company

    .imago-field
      input(
        type="text"
        name="website"
        id="website"
        ng-model="contact.data.website"
        placeholder="Website"
        required
        )
      label(for="website") Website

    .imago-field
      input(
        type="text"
        name="averageShipmentsPerMonth"
        id="averageShipmentsPerMonth"
        ng-model="contact.data.averageShipmentsPerMonth"
        placeholder="Average Shipments per Month"
        required
        )
      label(for="averageShipmentsPerMonth") Average Shipments per Month


    .imago-field
      textarea(
        name="message"
        id="message"
        ng-model="contact.data.message"
        placeholder="Your message."
        required
        msd-elastic="\n"
        )
      label(for="message") Message

    .legal
      p This form collects your name and email so that we can add you to our newsletter list for awesome project updates. Check out our privacy policy for the Tull story on how we protect and manage your submitted data!

      .imago-field
        input(
          type="checkbox"
          name="subscribe"
          id="subscribe"
          ng-model="contact.data.subscribe"
          required
          )
        label(for="subscribe" style="display: block") I consent to having {{tenantSettings.settings.name}} collect my name and email


    .imago-actions
      button.btn.primary.send(type="submit") Send

  .messages(ng-switch="contact.status")
    .success(ng-switch-when="true")
      span Thank You!

    .error(ng-switch-when="false")
      span Error: {{contact.error}}
