.imago-form-content
  form(name="imagoContact" ng-submit="contact.submitForm(imagoContact.$valid)" novalidate)

    .imago-field
      input(
        type="text"
        name="name"
        id="name"
        ng-model="contact.data.name"
        placeholder="First & Last Name"
        required
        )
      label(for="name") First & Last Name

    .imago-field
      input(
        type="email"
        name="email"
        id="email"
        ng-model="contact.data.email"
        placeholder="Email"
        required
        )
      label(for="email") Email

    .imago-field
      input(
        type="text"
        name="company"
        id="company"
        ng-model="contact.data.company"
        placeholder="Company"
        required
        )
      label(for="company") Company

    .imago-field
      input(
        type="text"
        name="website"
        id="website"
        ng-model="contact.data.website"
        placeholder="Company Website"
        required
        )
      label(for="website") Company Website

    .imago-field
      input(
        type="text"
        name="averageShipmentsPerMonth"
        id="averageShipmentsPerMonth"
        ng-model="contact.data.averageShipmentsPerMonth"
        placeholder="Average Shipments per Month"
        required
        )
      label(for="averageShipmentsPerMonth") Average Shipments per Month
      select(
        name="averageShipmentsPerMonth"
        id="averageShipmentsPerMonth"
        ng-model="contact.data.averageShipmentsPerMonth"
        placeholder="Average Shipments per Month"
        required
        )
        option My company doesn’t ship products
        option Pre-launch, not shipping yet
        option 0-1,000
        option 1,000-2,000
        option 2,000-100,000
        option 100,000-500,000
        option 500,000+





    .imago-field
      textarea(
        name="message"
        id="message"
        ng-model="contact.data.message"
        placeholder="Your message."
        required
        msd-elastic="\n"
        )
      label(for="message") Message





    .legal
      p This form collects your name and email so that we can add you to our newsletter list for awesome project updates. Check out our privacy policy for the Tull story on how we protect and manage your submitted data!

      .imago-field
        input(
          type="checkbox"
          name="subscribe"
          id="subscribe"
          ng-model="contact.data.subscribe"
          required
          )
        label(for="subscribe" style="display: block") I consent to having {{tenantSettings.settings.name}} collect my name and email

    .imago-actions(ng-class="{submitted: contact.status !== undefined}")
      button.btn.primary.send(type="submit")
        span &nbsp;
        span.thanks(ng-show="contact.status === true") Thank you for Contacting Us. We’ll be in touch shortly.
        span.thanks(ng-show="contact.status === false") Sorry there was an error, please try again later.
        span.submitting
        span.send Send

