main.home
  section(ng-repeat="item in ::page.data.assets track by item._id"
    ng-class="(item.fields.layout.value || 'fullScreen') | normalize" )

    div(ng-switch="item.type")

      //- heading start
      .heading(ng-switch-when="heading" ng-class="item.fields.layout.value | normalize"
        ng-style="{backgroundColor: item.fields.color.value}")
        div(ng-switch="::item.fields.size.value")
          div(ng-switch-when="1")
            h1(ng-bind-html="::item.fields.title.value | newlineToBr")
          div(ng-switch-default)
            h2(ng-bind-html="::item.fields.title.value | newlineToBr")
          div(ng-switch-when="3")
            h3(ng-bind-html="::item.fields.title.value | newlineToBr")


      //- imageContent start
      .imageContent(ng-class="{fullscreen:item.fullscreen}" ng-switch-when="imageContent")
        button(ng-click="item.fullscreen = !item.fullscreen")
          span(ng-show="!item.fullscreen") Enlarge
          span(ng-show="item.fullscreen") Close
        p {{::item.fields.description.value}}
        .media(ng-if="::!item.assets.length")
          imago-video(data="::item" ng-if="::item.fields.formats"
            controls="{{::!!item.fields.controls.value}}" stop-event="click")
          imago-image(ng-if="::(!item.fields.formats && item.serving_url)" data="::item")
        .media(ng-if="::item.assets.length")
          imago-slider(
            data="item.assets"
            animation="fade"
            loop="true"
            )
            .slide(ng-repeat="asset in imagoslider.assets track by asset._id"
              ng-if="currentIndex === $index")
              imago-video(ng-if="asset.fields.formats" data="asset")
              imago-image(ng-if="!asset.fields.formats" data="asset")

              h4 {{::item.fields.title.value}}
                br
                | {{::asset.fields.title.value}}


      //- blocklist start
      .blockList(ng-class="item.fields.layout.value" ng-switch-when="blockList")
        .block
          h2(ng-bind-html="::item.fields.title.value | newlineToBr")
        .block
        .block(ng-repeat="block in ::item.assets track by block._id")
          h3(ng-bind-html="::block.fields.title.value | newlineToBr")
        .block.learnmore(ng-show="::page.data.path ==='/home'")
          a(href="/services")
            h3 +
              br
              | Learn More

      //- text
      .textContent.padding(ng-class="[{indent:item.fields.indent.value},item.fields.align.value, item.fields.size.value]" ng-style="{backgroundColor: item.fields.color.value}" ng-switch-when="text")
        .text(ng-bind-html="item.fields.text.value" ng-show="item.fields.text.value")
        .media
          imago-video(data="::item" ng-if="::item.fields.formats"
            controls="{{::!!item.fields.controls.value}}" stop-event="click")
          imago-image(ng-if="::(!item.fields.formats && item.serving_url)" data="::item")


      //- image
      .image(class="_{{item.fields.width.value|normalize}}", ng-class="[item.fields.size.value, item.fields.width.value, item.fields.align.value]", ng-switch-when="image")
        imago-image(ng-if="::item.serving_url" data="::item")

      //- video
      .video(ng-switch-when="video")
        imago-video(data="::item" ng-if="::item.fields.formats"
          controls="{{::!!item.fields.controls.value}}" stop-event="click")

      .mapWidget(ng-class="::item.fields.align.value" ng-switch-when="map")
        h3(ng-bind-html="item.fields.title.value" ng-show="item.fields.title.value.length")
        ui-gmap-google-map(

          ng-if="item.fields.address.latlng"
          center="item.fields.address.latlng"
          zoom="item.fields.zoom.value || 4"
          options="{styles: gmapstyle, disableDefaultUI: true, zoomControl: true, draggable: true, fullscreenControl: true}"
          )
          ui-gmap-marker(
            fit="true"
            ng-repeat="marker in ::item.assets"
            idKey="::marker._id"
            coords="{latitude: marker.fields.address.value.lat, longitude: marker.fields.address.value.lng}"
            events="page.eventsMarker"
            dragable="false"
            options="{animation:4}"
            icon="{url:'https://jce.imago.io/jce/latest/i/mapicon.png'}"
          )
      .galleryWidget(class="_{{item.fields.width.value|normalize}}",ng-class="[item.fields.size.value,item.fields.align.value]",ng-switch-when="gallery")
        imago-slider(
          data="::item.assets"
          animation="fade"
          loop="true"
          )
          .slide(ng-repeat="asset in imagoslider.assets track by asset._id"
            ng-if="currentIndex === $index")
            imago-video(ng-if="asset.fields.formats" data="asset")
            imago-image(ng-if="!asset.fields.formats" data="asset")
            h4 {{::item.fields.title.value}}
              br
              | {{::asset.fields.title.value}}



  section.contentFooter
    .row.padding
      p Headquaters
      p 185 Madison Avenue, Suite 600
        br
        | New York, New York 10016
        br
        | USA
        br
        br
        | Telephone&nbsp;
        a(href="tel:+12122689009") (212) 268-9009
        br
        | Fax&nbsp;
        a(href="tel:+12122685698") (212) 268-5698
        br
        br
        a(href="mailto:info@JCEdwardCorp.com") info@JCEdwardCorp.com
      p 3F, A3 Building
        br
        | Animation City, Xi Ping 3rd Road
        br
        | Nancheng District, Dongguan City,
        br
        | Guangdong Province, China
        br
        | 523079
        br
        br
        | 电话: +86 (769) 2280-4009
        br
        | 电话: +86 (769) 2202-0780
        br
        | 传真: +86 (769) 2280-4001
        br
        br
        a(href="mailto:info@JCEdwardChina.com") info@JCEdwardChina.com

    .row.padding
      p Careers
      p USA
        br
        a(href="mailto:USCareers@JCEdwardCorp.com") USCareers@JCEdwardCorp.com
        | Asia
        br
        br
        | Pacific
        br
        a(href="mailto:APACCareers@JCEdwardCorp.com") APACCareers@JCEdwardCorp.com
      p &nbsp;

    .row.padding
      form.subscribe.imago-form(
        imago-subscribe="subscribe"
        data="page.form"
        name="subscribe"
        ng-submit="imagosubscribe.submit(subscribe)"
        )

        .imago-field
          input(
            type="email"
            name="email"
            ng-model="page.form.email"
            placeholder="Enter email address to sign-up"
            required
            )






    //- imago-video(data="::item" ng-if="::item.fields.formats"
    //-   controls="{{::!!item.fields.controls.value}}" stop-event="click")
    //- imago-image(ng-if="::!item.fields.formats && ::item.serving_url" data="::item")

    //- .caption(ng-class="[{text: item.type === 'text'},{center: !item.fields.text.value}]" ng-style="{color: item.fields.textColor.value || 'black'}")
    //-   h2 {{::item.fields.title.value}}
    //-   .text(ng-bind-html="::item.fields.text.value" ng-show="item.fields.text.value")
