main.home
  //- pre in page.data.assets {{page.data.assets}}

  .scroll-indicator

  div(ng-repeat="item in page.data.assets track by item._id")
    div(ng-switch="item.type")

      .widget-slider(ng-switch-when="slider")
        div(
          imago-slider="item.assets"
          animation="fade"
          loop="true"
          autoplay="5000"
          )
          .slide(ng-repeat="asset in imagoslider.assets track by asset._id"
            ng-if="currentIndex === $index"
            ng-switch="asset.type")
            div(imago-video="asset" ng-switch-when="video")
            div(imago-image="asset" ng-switch-default)
            //- .caption(ng-if="currentIndex === $index")
            //-   {{ page.data | meta: 'title' }} {{currentIndex + 1}}/{{page.data.assets.length}}
          //- .slider-index
          //-   a(
          //-     ng-repeat="slide in page.data.assets"
          //-     ng-class="{ 'active': currentIndex === $index }"
          //-     ng-click="imagoslider.setCurrent($index)"
          //-     )



      .widget-page(ng-switch-when="page")
        .text(ng-bind-html="::item.fields.text.value")


      .widget-grid(ng-switch-when="grid")
        .item(ng-repeat="media in item.assets track by media._id" ng-switch="media.type")
          .media(imago-video="media" ng-switch-when="video")
          .media(imago-image="media" ng-switch-default)