section(deckgrid source="blog.assets")
  article(ng-repeat="asset in blog.assets track by asset._id")
    a.link.fa.fa-link.fa-2x(
      ng-href="{{asset.fields.link.value}}"
      ng-show="asset.fields.link.value"
      target="_blank")

    div.media(imago-image="asset" lazy="false")
    h2 {{ asset.fields.title.value }}

    div.tags
      a(ng-repeat="tag in asset.fields.tags"
        ui-sref="blog({tag:tag})") {{tag}}
    div(
      imago-share="['facebook', 'twitter']"
      asset="asset"
      )

nav(
  imago-pager
  state="blog"
  posts="blog.assets"
  path="/blog"
  page-size="50"
  tags="blog.tags"
  current-page="blog.currentPage"
  )
