doctype html
html(ng-app="app"
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns:website="http://ogp.me/ns/website"
  lang="en-US"
  itemscope itemtype="http://schema.org/WebPage")
  head
    base(href="/")
    meta(charset="utf-8")

    title #{title}

    link(rel="stylesheet" href="/#{version}/application.min.css" type="text/css")

    if !getValue(page, 'visible')
        meta(rel="robots" content="noindex, nofollow")

    meta(name="google-site-verification" content="#{settings['google-verification-string']}")

    meta(name="description" content='#{description}')
    meta(name="keywords" content="#{tags}")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="320")
    meta(http-equiv="cleartype" content="on")

    meta(property="og:site_name" content="#{title}")
    meta(property="og:image" content="#{getValue(page, 'serving_url')}")
    meta(property="og:title" content="#{title}")
    meta(property="og:description" content="#{description}")
    meta(property="og:url" content="#{url}")
    meta(property="og:type" content="website")

    meta(itemprop="name" content="#{title}")
    meta(itemprop="url" content="#{url}")
    meta(itemprop="thumbnailUrl" content="#{getValue(page, 'serving_url')}")

    meta(name="twitter:title" content="#{title}")
    meta(name="twitter:image" content="#{getValue(page, 'serving_url')}")
    meta(name="twitter:url" content="#{url}")
    meta(name="twitter:card" content="#{description}")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="")

    link(rel="alternate" type="application/rss+xml" title="RSS" href="/feed")

    script.
      window._trackJs = {
        token: "8841f638c1294ab8a997fc9c4cefcef3",
        application: "imagotheme"
      }
    script(type="text/javascript" src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js" crossorigin="anonymous")

    script(src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', "#{settings['google-analytics-id']}", 'auto', {'allowLinker': true});
      ga('require', 'linker');
      ga('linker:autoLink', ["#{tenant}.imago.io"] );
      ga('send', 'pageview');

    script(src="/#{version}/application.min.js" type="text/javascript")

    <!--[if IE 9]>
    script(src="/ie9.worker.js")
    script(src="//cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.js")
    script.
      xdomain.slaves({
        "http://api.2.imagoapp.com": "/api/ieproxy",
        "https://api.2.imagoapp.com": "/api/ieproxy"
        });
    <![endif]-->

    link(rel="icon" type="image/ico" href="/icon=s32")
    link(rel="shortcut icon" type="image/x-icon" href="/icon=s32-c")
    link(href="/icon=s60-c"  rel="apple-touch-icon")
    link(href="/icon=s75-c"  rel="apple-touch-icon" sizes="76x76")
    link(href="/icon=s120-c" rel="apple-touch-icon" sizes="120x120")
    link(href="/icon=s152-c" rel="apple-touch-icon" sizes="152x152")

  body(class="{{ background }} {{ state }} {{ path }}" ng-class="{'menu': showMenu}" search-watch)
    navigation
    div(ui-view)
    div(fullscreen-menu handler='showMenu')

    include backuptemplate

