

button.menu(ng-click="header.activate()" ng-hide="navActive") {{header.activeMenu || 'Menu'}}
button.menu(ng-click="header.activate()" ng-show="navActive") {{'Close'}}


a.logo(ng-class="{active: navActive}" ng-click="header.activeMenu = ''" href="/")
  span.front
  span.back {{tenantSettings.settings.name}}

.back(ng-click="navActive = false")
imago-fetch(query="/")
  nav(ng-class="{active: navActive}")
    a(
      ng-hide="item.path === '/'"
      ng-href="{{::item.path}}"
      ng-class="[{active: item.path === urlPath},item.name.toLowerCase()]"
      ng-repeat="item in ::imagofetch.result.assets"
      ui-sref-active="active"
      ng-click="header.activeMenu = item.fields.title.value || item.name") {{::item.fields.title.value || item.name}}



