main.subscribe

  .text(ng-bind-html="page.data.fields.text.value")

  form.subscribe.imago-form(
    imago-subscribe="subscribe"
    data="page.form"
    name="subscribe"
    ng-submit="imagosubscribe.submit(subscribe)"
    )

    .imago-field
      label(for="name") Name
      input(
        type="text"
        name="name"
        ng-model="page.form.name"
        placeholder="Name"
        required
        )

    .imago-field
      label(for="email") Email
      input(
        type="email"
        name="email"
        ng-model="page.form.email"
        placeholder="Email"
        required
        )
    .formcontrols
      button.btn.send(type="submit") Subscribe
