.blog
  .list
    .post(ng-repeat="asset in blog.assets")
      a(href="{{asset.path}}")
        div(imago-image="asset")
      .caption
        h2 {{ asset | meta:'title' }}
        ul.tags
          li(ng-repeat="tag in asset | meta:'tags'")
            a(href="/blog/tag/{{tag}}" ng-click="blog.tags = tag") {{tag}}

    div(imago-pager
      posts="blog.assets"
      next="blog.onNext()"
      prev="blog.onPrev()"
      path="{{ blog.path }}"
      page-size="{{ blog.pageSize }}"
      tags="blog.tags"
      )
