.pictures


  a.close(ui-sref="menu")
  .slider(imago-slider
    animation="fade"
    loop="true"
    length="{{ page.data.assets.length }}"
    )
    .slide(ng-repeat="asset in page.data.assets"
      ng-if="currentIndex === $index"
      ng-switch="asset.kind")
      .media(imago-video="asset" ng-switch-when="video")
      .media(imago-image="asset" ng-switch-default)
      .caption(ng-if="currentIndex === $index")
        {{ page.data | meta: 'title' }} {{currentIndex + 1}}/{{page.data.assets.length}}